---
import ContactDetails from "../components/ContactDetails.astro";
import Description from "../components/Description.astro";
import Faqs from "../components/Faqs.astro";
import Form from "../components/Form.astro";
import Layout from "../layouts/Layout.astro";
---

<!-- -------------------CONTENT------------------- -->

<Layout title="contact us" description="this is the page description">
  <main>
    <h1>reach us</h1>
    <Description />
    <Form />
    <ContactDetails />
    <Faqs />
  </main>
</Layout>

<!-- -------------------STYLES------------------- -->

<style></style>

<!-- -------------------SCRIPT------------------- -->

<script></script>
