---
import Description from "../components/Description.astro";
import DomainCard from "../components/DomainCard.astro";
import Layout from "../layouts/Layout.astro";
---

<!-- -------------------HTMLS------------------- -->
<Layout title="domains" description="this is the page description">
  <main>
    <h1>domain names</h1>
    <Description />
    <div class="domain-container">
      <DomainCard />
    </div>
  </main>
</Layout>

<!-- -------------------STYLES------------------- -->

<style></style>

<!-- -------------------SCRIPT------------------- -->

<script></script>
