---
---

<!-- -------------------HTMLS------------------- -->
<section>
  <div class="container">
    <div class="title">
      <h1>business names will never forgot</h1>
    </div>
  </div>
</section>

<!-- -------------------STYLES------------------- -->

<style>
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
</style>

<!-- -------------------SCRIPTS------------------- -->
