---
---

<section>
  <div class="container">
    <div class="quote">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, sint.
    </div>
    <div class="image-container">
      <div class="image"></div>
      <div class="name"></div>
    </div>
  </div>
</section>

<style></style>

<script></script>
